.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.header-container__title {
    color: #0e7490;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}